{
  "extends": [
    "../.eslintrc",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/function-component-definition": 0,
    "react/display-name": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "CONFIG": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@components",
            "./src/components/"
          ],
          [
            "@features",
            "./src/features/"
          ],
          [
            "@services",
            "./src/services/"
          ],
          [
            "@hooks",
            "./src/hooks/"
          ],
          [
            "@assets",
            "./src/assets/"
          ],
          [
            "@utils",
            "./src/utils/"
          ],
          [
            "@store",
            "./src/store/"
          ]
        ],
        "extensions": [
          ".mjs",
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}