@import '~leaflet/dist/leaflet.css';
@import '~react-leaflet-markercluster/dist/styles.min.css';

.leaflet-container {
  position: absolute;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  background-color: rgb(53, 53, 53);
}

.markercluster-map { 
  height: 90vh; 
}

.MuiDrawer-paper {
  background-color: rgb(51,51,51);
}

.MuiToggleButton-root {
  background-color: white;
}