@import '~leaflet/dist/leaflet.css';
@import '~react-leaflet-markercluster/dist/styles.min.css';

.leaflet-container {
  position: absolute;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  background-color: rgb(53, 53, 53);
}

.markercluster-map { 
  height: 90vh; 
}

.MuiDrawer-paper {
  background-color: rgb(51,51,51);
}

.MuiToggleButton-root {
  background-color: white;
}

.grid-item {
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.filter-footer {
  background-color: #424242;
  text-align: center; 
  height: 50px;
}


.leaflet-popup-tip-container .leaflet-popup-tip {
  background-color: rgb(33, 37, 31);
}

.dark .leaflet-popup-content-wrapper {
  background-color: rgb(33, 37, 31);
  color: white;
  border: rgb(26, 26, 26) solid 4px;
}

.table-pvp {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 7px 1x;
  padding-top: 5px;
}

.circle-image {
  height: 96px;
  width: 96px;
  border: 4px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.normal {
  border: 4px solid rgb(204, 50, 165);
}
.glacial {
  border: 4px solid rgb(116, 183, 250);
}
.mossy {
  border: 4px solid lawngreen;
}
.magnetic {
  border: 4px solid yellow;
}
.rainy {
  border: 4px solid rgb(0, 82, 158)
}

.mystic {
  border: 4px solid blue;
}
.valor {
  border: 4px solid red;
}
.instinct {
  border: 4px solid yellow;
}
.neutral {
  border: 4px solid gray;
}

.marker {
  object-fit: contain;
}

.table-invasion {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
}

.table-invasion td:first-child {
  padding-right: 10px;
}
.table-invasion td:nth-child(2) {
  width: 100px
}
.table-invasion td:last-child {
  padding-left: 7px;
}

.invasion-reward > img {
  position: absolute;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: contain;
}

.invasion-reward {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

.invasion-reward > img.invasion-reward-shadow {
  width: 15px;
  height: 15px;
  right: auto;
  top: auto;
  filter: drop-shadow(0 0 2px #000);
}
