/node_modules/
/dist/

# Config files
server/src/configs/*
!server/src/configs/default.json
!server/src/configs/config.example.json
!server/src/configs/areas.example.json
.env

# Masterfile
server/src/data/masterfile.json

# Docker file
/docker-compose.yml

# Favicon
public/favicon/*
!public/favicon/favicon.ico

# Strategies
server/src/strategies/*
!server/src/strategies/discord.js
!server/src/strategies/telegram.js

# Ignore generated locales
public/locales/*

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~