{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
    "value-keyword-case": null,
    "function-name-case": null,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["mixin", "include", "extend"]
    }]
  }
}
