@import 'holiday.css';
@import 'loading.css';

.leaflet-control-container .leaflet-top,
.leaflet-control-container .leaflet-bottom {
  transform: translate3d(0px, 0px, 0px);
}

.leaflet-container {
  position: absolute;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.leaflet-popup-content .no-leaflet-margin p {
  margin: 0px !important;
}

.react-locate-control {
  display: none;
}

body {
  background-color: rgb(53, 53, 53);
  margin: 0;
}

.MuiDrawer-paper {
  background-color: rgb(51, 51, 51);
}

.MuiToggleButton-root {
  background-color: white;
}

.grid-item {
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.filter-footer {
  background-color: #424242;
  text-align: center;
  height: 50px;
}

.leaflet-tooltip {
  font-weight: bold;
  border: none;
  text-align: center;
  max-height: 60px !important;
  padding: 0px 2px !important;
  border-radius: 0.5rem !important;
}

.leaflet-popup-tip-container .leaflet-popup-tip {
  background-color: rgb(33, 37, 31);
}

.dark .leaflet-popup-content-wrapper {
  background-color: rgb(33, 37, 31);
  color: white;
  border: rgb(26, 26, 26) solid 4px;
}

.table-pvp {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 7px 1x;
  padding-top: 5px;
}

.circle-image {
  height: 96px;
  width: 96px;
  border: 4px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.invasion-exists {
  border: 4px solid rgb(141, 13, 13);
}

.lure_501 {
  border: 4px solid rgb(204, 50, 165);
}
.lure_502 {
  border: 4px solid rgb(116, 183, 250);
}
.lure_503 {
  border: 4px solid lawngreen;
}
.lure_504 {
  border: 4px solid yellow;
}
.lure_505 {
  border: 4px solid rgb(0, 82, 158);
}

.team-1 {
  border: 4px solid blue;
}
.team-2 {
  border: 4px solid red;
}
.team-3 {
  border: 4px solid yellow;
}
.team-0 {
  border: 4px solid gray;
}

.badge {
  width: 96px;
  height: 96px;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.badge-1 {
  background: linear-gradient(
    to right,
    #cd7f32,
    #ffffff,
    #cd7f32,
    #ffffff,
    #cd7f32
  );
}
.badge-2 {
  background: linear-gradient(
    to right,
    #c0c0c0,
    #ffffff,
    #c0c0c0,
    #ffffff,
    #c0c0c0
  );
}
.badge-3 {
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
}

.marker {
  object-fit: contain;
}

.table-invasion {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
}

.table-invasion td:first-child {
  padding-right: 10px;
}
.table-invasion td:nth-child(2) {
  width: 100px;
}
.table-invasion td:last-child {
  padding-left: 7px;
}

.marker-image-holder {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup-divider {
  width: 100% !important;
  height: 2px !important;
  margin: 6px 0px !important;
}

.pokemon-popup-image-holder > img,
.filter-image-holder > img,
.marker-image-holder > img,
.invasion-reward > img,
.leaflet-marker-pane .marker-image-holder > img {
  position: absolute;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: contain;
}

.marker-image-holder.top-overlay > img,
.leaflet-container .leaflet-marker-pane .marker-image-holder.top-overlay > img {
  top: auto;
  position: absolute;
}

.invasion-reward {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}

.invasion-reward > img.invasion-reward-shadow {
  width: 15px;
  height: 15px;
  right: auto;
  top: auto;
  filter: drop-shadow(0 0 2px #000);
}

.ar-eligible {
  display: inline-block;
  position: relative;
}

.ar-eligible > img.ar-logo {
  position: absolute;
  left: 0px;
  bottom: -5px;
}

.ar-eligible > img.ex-logo {
  position: absolute;
  right: 0px;
  bottom: -5px;
}

img {
  image-rendering: auto;
  image-rendering: -webkit-optimize-contrast;
}

.marker-image-holder {
  position: absolute;
  width: 100%;
  height: 100%;
}

.amount-holder {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-25%);
  min-width: 100%;
  color: white;
  text-shadow: #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px,
    #000 0 0 1px, #000 0 0 1px;
  font-weight: 700;
}

.search-amount-holder {
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  min-width: 100%;
  font-size: x-large;
  font-family: Roboto;
  color: white;
  text-shadow: #000 0 0 2px, #000 0 0 2px, #000 0 0 2px, #000 0 0 2px,
    #000 0 0 2px, #000 0 0 2px;
  font-weight: 700;
}

.iv-badge {
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(110, 110, 110);
  border: 2px solid white;
  border-radius: 12px;
  color: white;
  font: bold 15px/13px Helvetica, Verdana, Tahoma;
  height: 16px;
  min-width: 14px;
  padding: 4px 3px 0 3px;
}

.weather-icon {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgb(41, 102, 122);
  border-radius: 48px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.weather-icon > .fancy {
  filter: invert(75%) sepia(100%) hue-rotate(151deg) saturate(3.1);
}

.quest-popup-img {
  max-width: 30px;
  max-height: 30px;
}

.ar-task {
  background-color: rgb(63, 63, 63);
  border: 1px solid white;
  border-radius: 12px;
  padding: 3px;
  font-size: 0.5rem !important;
}

.amount-popup {
  font-size: large;
}

.type-img-single {
  width: 100%;
  height: 56px;
  object-fit: contain;
  object-position: 50% 50%;
}

.type-img-1,
.type-img-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 56px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.type-img-1 {
  left: 0;
  background: top left no-repeat;
  -webkit-mask-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.type-img-2 {
  right: 0;
  background: top right no-repeat;
  -webkit-mask-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.circle {
  border-radius: 20%;
  max-height: 25px;
  max-width: 25px;
}

.pulse {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(197, 10, 10, 0.2);
  }
  100% {
    box-shadow: 0 0 0 6px rgba(197, 10, 10, 0.2);
  }
}

.perm-wrapper {
  position: relative;
  width: 100%;
  font-size: 0;
}

.disabled-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

.perm-wrapper img {
  width: 100%;
}

input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.badge_3 {
  color: #ffd700;
}

.badge_2 {
  color: #c0c0c0;
}

.badge_1 {
  color: #cd7f32;
}
