name: Config
on: [push]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  Sync:
    name: Check for config changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        id: checkout-code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v19
        with:
          files: |
            server/src/configs/default.json
      - name: Setup Node.js environment
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
      - name: Run script
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          yarn config-check
      - name: Generate latest env vars
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          yarn gen-env-config
      - name: Configure git
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          git config --global user.name "turtlesocks-bot"
          git config --global user.email "turtlesocks-bot@users.noreply.github.com"
      - name: Check for changes
        run: |
          if git diff --quiet; then
            echo "changes_exist=false" >> $GITHUB_ENV
          else
            echo "changes_exist=true" >> $GITHUB_ENV
          fi
      - name: Commit and push changes
        if: steps.changed-files.outputs.any_changed == 'true'
        if: ${{ env.changes_exist == 'true' }}
        run: |
          git add --all
          git commit --message "Sync CI/CD Config Items"
          git push
